*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.row>*{
    padding-left: 0px;
    padding-right: 0px;
}
.outer{
    display: flex;
    height: 750px;
    /* justify-content: center; */
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,145,249,1) 0%, rgba(0,22,255,1) 100%);
    padding: 5rem;
}
.innerbox1{
    /* width: 28%; */
    background-color: white;
    border: 2px solid rgb(57, 57, 236);
    padding: 2rem;
}
.innerbox3{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(51,145,249,1) 0%, rgba(0,22,255,1) 100%);
    border: none;
}
.outer-1{
    /* border: 2px solid red ; */
    /* background-color: black; */
}
.outer1{
    height: 350px;
    background-color: aliceblue;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #dddddd;
    /* text-align: left; */
    padding: 8px;
  }